.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 700px;
  /* height: 250px; */
  display: flex;

  align-items: center;
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
  border-radius: 25px;
  margin: 10px;
}

.cartItem img {
  width: 130px;
  border: solid black 1px;
  margin-right: 10px;
}

.cartItem .description {
  width: 100%;
  font-size: 14px;
}

.countHandler input {
  width: 30px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  /* width: 150px; */
  /* height: 50px; */
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.less{
  padding: 10px;
}

.plus{
  padding: 8px;
}

.countHandler{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.carttitle h1{
  display: flex;
  justify-content: center;
  background-color: #665e89;
  margin: 0px;
  align-items: center;
  font-size: 20px;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

span{
  font-size: 24px;
  font-weight: 600;
}