.shopTitle {
    /* margin-top: 100px; */
    text-align: center;
    font-size: 18px;
    margin: 0px 60px;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: aqua; */
    place-items: center;
    margin-top: 40px;
}

.product-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
}

.product-set .product-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.product {
    /* background-color: aqua; */
    border-radius: 15px;
    width: 150px;
    height: 350px;
    /* margin: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 100%;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.shop{
    display: grid;
    grid-template-columns: 30% 70%;
}

.shop{
    display: grid;
    /* grid-template-columns: 30% 70%; */
}

.producth1{
    font-size: 22px;
}

.producth2{
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.addtocart{
    background-color: #fff;
    border: 2px black solid;
    border-radius: 20px;
    display: flex;
    padding: 10px 10px; 
    justify-content: center;
    align-items: center;
}

.addtocart:hover{
    background-color: #470800;
    color: #fff;
}

.productimg{
    border: 2px rgb(111, 108, 108) solid;
}
