.navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  /* height: 50px; */
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.sugarartlogo {
  width: 60px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

li:hover {
  color: #322b5c;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #322b5c;
}

.middddle{
  display: flex;
  justify-content: center;
}

svg {
  margin-left: 10px;
  cursor: pointer;
}

.carticon {
  margin-right: 10px;
}

.cart-num{
  display: flex;
  align-items: center;
  justify-content: end;
}

.cart-num p {
  margin-top: 10px;
}

.user-icon{
  margin-left: 40px;
}