.createid {
  text-align: center;
  background-image: url("../../pics/bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 400px;
  width: 470px;
  background-color: #eae6fe;
}

.name {
  margin-top: 10px;
}

input {
  margin: 10px 0px;
  padding: 10px 28px;
  background-color: #bbb1df;
  border: none;
}

button {
  margin: 10px;
  padding: 10px 26px;
  background-color: #665e89;
  border: none;
}

.createidtxt1 {
  font-size: 10px;
}
